body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	color: #333;
}

form {
	display: flex;
	margin-bottom: 20px;
}

label {
	flex-basis: 100px;
	flex-shrink: 0;
	padding-top: 5px;
	text-align: right;
}

input[type="text"] {
	flex-grow: 1;
	padding: 5px;
	font-size: 16px;
}

button[type="submit"] {
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

form[action=""] {
  margin-left: 10px;
}

form[action=""] button[type="submit"] {
  background-color: #ccc;
  color: #333;
  cursor: default;
}

.completed {
  text-decoration: line-through;
  color: #999;
}
